name: Unit testing

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

jobs:
  build:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        go:
          - "1.25.6"
    env:
      GOLANGCI_LINT_VERSION: 2.8.0 # https://github.com/golangci/golangci-lint/releases
    steps:
      - uses: actions/checkout@v6 # https://github.com/actions/checkout/releases

      - name: Set up Go environment
        uses: actions/setup-go@v6 # https://github.com/actions/setup-go/releases
        with:
          go-version: ${{ matrix.go }}

      - name: Install golangci-lint
        run: wget -O /tmp/golangci-lint.deb https://github.com/golangci/golangci-lint/releases/download/v${GOLANGCI_LINT_VERSION}/golangci-lint-${GOLANGCI_LINT_VERSION}-linux-amd64.deb ; sudo dpkg -i /tmp/golangci-lint.deb

      - name: Run golangci-lint
        run: golangci-lint run

      - name: Run unit testing
        run: |
          go test -v -race ./... -coverpkg=./... -coverprofile=coverage.out
          sed -i '/scalezilla\/scalezilla\/scalezillapb/d' coverage.out

      - name: Print coverage status
        run: |
          go tool cover -func=coverage.out
